.about-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 92px 70px;

  @media (max-width: $mobile) {
    display: block;
  }
}

.about-list__item {
  max-width: 336px;
  padding-top: 110px;
  background-position: top 0 left 0;
  background-size: 100px 100px;
  background-repeat: no-repeat;

  &--contactless {
    background-image: url("../../images/icons/stack.svg#contactless");
  }

  &--increased {
    background-image: url("../../images/icons/stack.svg#increased");
  }

  &--analytics {
    background-image: url("../../images/icons/stack.svg#analytics");
  }

  &--fraud {
    background-image: url("../../images/icons/stack.svg#fraud");
  }

  @media (max-width: $mobile) {
    margin-bottom: 60px;
  }
}

.about-list__title {
  font-size: clamp(32px, 4vw, 48px);
  font-weight: 700;
  line-height: 1.06;
  margin: 0;
  margin-bottom: 20px;

  @media (max-width: $mobile) {
    margin-bottom: 16px;
  }
}

.about-list__text {
  margin: 0;
  font-size: clamp(16px, 2.5vw, 24px);
  line-height: 1.2;
}
