.brands {
  padding: 0;
}

.brands__inner {
  display: grid;
  grid-template-columns: 1fr auto;
  margin-bottom: 100px;
  min-height: 272px;

  @media (max-width: 835px) {
    display: block;
    margin-bottom: 0;
  }
}

.brands__content {
  @media (max-width: 835px) {
    margin-bottom: 20px;
  }
}

.brands__title {
  margin: 0;
  margin-bottom: 20px;
}

.brands__description {
  max-width: 537px;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
}

.brands__social {
  padding: 45px 0;

  @media (max-width: 835px) {
    min-height: 128px;
    padding: 0;
    margin-bottom: 40px;
  }
}

.brands__logo {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: space-between;

  @media (max-width: 765px) {
   justify-content: center;
   flex-wrap: wrap;
  }

  @media (max-width: 690px) {
    justify-content: start;
   }

  @media (max-width: 375px) {
    gap: 30px 40px;
    padding: 50px 20px;
  }
}

.brands__logo-item {
  @media (max-width: 1010px) {
    &:nth-child(1) {
      order: 0;

      img {
        width: 91px;
        height: 43px;
      }
    }

    &:nth-child(2) {
      order: -1;

      img {
        width: 149px;
        height: 42px;
      }
    }

    &:nth-child(3) {
      order: -3;

      img {
        width: 131px;
        height: 34px;
      }
    }

    &:nth-child(4) {
      img {
        width: 196px;
        height: 28px;
      }
    }

    &:nth-child(5) {
      img {
        width: 126px;
        height: 32px;
      }
    }

  }
}
