.business-grow {
  display: grid;
  justify-content: center;
  background-color: $grayscale-06;
  color: $grayscale-01;
  text-align: center;
  padding-top: 160px;
  padding-bottom: 60px;
}

.business-grow__title {
  font-size: 64px;
  line-height: 68px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 40px;
}

.business-grow__button {
  justify-self: center;
}
