.card-budss {
  background-color: $grayscale-06;
  background-repeat: no-repeat;
  color: $grayscale-00;
  border-radius: 30px;
  min-height: 362px;
  width: 100%;
  padding-left: 40px;
  padding-top: 40px;

  @media (max-width: 875px) {
    margin-bottom: 20px;
  }

  &--1,
  &--4 {
    max-width: 733px;

    @media (max-width: 875px) {
      max-width: 100%;
    }
  }

  &--2,
  &--3 {
    max-width: 547px;
    @media (max-width: 875px) {
      max-width: 100%;
    }
  }

  &--1 {
    position: relative;
    display: grid;
    grid-template-columns: max-content 1fr;
    padding-left: 0;
    padding-top: 0;
    padding-right: 40px;
    overflow: hidden;

    @media (max-width: 1080px) {
      display: block;
      padding-left: 40px;
      padding-bottom: 150px;
    }

    .card-budss__content {
      grid-column: 2 / -1;
      padding-top: 20px;
      padding-bottom: 10px;
      max-width: 364px;
    }

    img {
      grid-column: 1 / 2;
      grid-row: 1 / -1;
      align-self: stretch;

      @media (max-width: 1080px) {
        width: 343px;
        height: 150px;
        position: absolute;
        left: -70px;
      }
    }
  }

  &--2 {
    background-image:
      url("../../images/icons/stack.svg#cards-budss-1"),
      url("../../images/icons/stack.svg#cards-budss-2"),
      url('../../images/icons/stack.svg#cards-budss-3');
    background-position: right 80px, 394px bottom, 92px bottom;
    background-size: 88px 167px, 93px 86px, 72px 64px;
    padding-right: 92px;


    @media (max-width: 1000px) {
      padding-bottom: 80px;
      padding-right: 60px;
      background-position: right 201px, 135px bottom, 10px bottom;
      background-size: 61px 116px, 93px 86px, 72px 64px;
    }
  }

  &--3 {
    background-image: url("../../images/icons/stack.svg#cards-budss-4");
    background-position: right bottom;
    background-size: 202px 83px;
    padding-right: 67px;

    @media (max-width: 1025px) {
      padding-bottom: 75px;
    }
  }

  &--4 {
    position: relative;
    display: grid;
    grid-template-columns: 1fr max-content;

    @media (max-width: 540px) {
      display: block;
      padding-right: 20px;
      padding-bottom: 191px;
    }

    img {
      align-self: self-end;

      @media (max-width: 1025px) {
        width: 146px;
        height: 185px;
      }

      @media (max-width: 540px) {
        position: absolute;
        left: 37%;
      }
    }
  }
}

.card-budss__title {
  font-size: clamp(32px, 8vw, 48px);
  line-height: 1.06;
  font-weight: 600;
  margin: 0;
  margin-bottom: 20px;
}

.card-budss__desctription {
  font-size: clamp(16px, 8vw, 20px);
  line-height: 1.2;
  margin: 0;
}
