.cookies {
  z-index: 20;
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 1320px;
  min-height: 117px;
  padding: 30px;
  padding-right: 60px;
  background-color: $grayscale-07;
  border-radius: 16px;
  display: flex;
  column-gap: 30px;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 835px) {
    padding-right: 40px;
  }

  @media (max-width: 540px) {
    display: block;
    padding: 20px 30px;
  }
}

.cookies.hidden {
  display: none;
}

.cookies__text {
  max-width: 783px;
  font-size: 20px;
  line-height: 28px;
  color: $grayscale-09;
  margin: 0;

  @media (max-width: 540px) {
    margin-bottom: 20px;
  }
}

.cookies__buttons {
  display: flex;
  column-gap: 20px;

  @media (max-width: 835px) {
    display: block;
  }
}

.cookies__button {
  @media (max-width: 835px) {
    margin-bottom: 20px;
  }

  @media (max-width: 540px) {
    display: block;
    width: 100%;
  }
}

.cookies__button:not(.button) {
  background-color: $grayscale-07;
  border: 2px solid $primary-01;
  padding: 16px 30px;
  border-radius: 16px;
  font-size: 20px;
  line-height: 25px;
  font-weight: 600;

  @media (max-width: 375px) {
    margin-left: 0;
    margin-top: 20px;
  }
}

.cookies__cancel {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 26px;
  height: 26px;
}
