.header {
  margin-bottom: 62px;
  position: relative;

  @media (max-width: 375px) {
    margin-bottom: 51px;
  }
}

.header__nav-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 20px;
}

.header__nav.sticky {
  background-color: $grayscale-01;
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
}

.header__button {
  @media (max-width: 375px) {
    display: none;
  }
}

.header__burger {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 40px;
  height: 26px;

   span {
    width: 40px;
    height: 2px;
    background-color: $grayscale-07;
   }

   @media (min-width: 376px) {
    display: none;
   }
}
