.how-works {
  position: relative;
  margin-bottom: 100px;
  height: 636px;

  @media (max-width: 375px) {
    margin-bottom: 40px;
  }
}

.how-works__inner {
  padding: 46px 0;
  overflow: hidden;

  @media (max-width: 565px) {
    padding: 61px 0;
  }
}

.how-works__title {
  font-size: clamp(48px, 8vw, 128px);
  font-weight: 700;
  line-height: normal;
  margin: 0;

  & + & {
    margin-top: 68px;

    @media (max-width: 1035px) {
      margin-top: 93px;
    }

    @media (max-width: 810px) {
      margin-top: 150px;
    }

    @media (max-width: 565px) {
      margin-top: 93px;
    }
  }

  &--secondary-01 {
    color: $secondary-01;
    animation: titleScrollRight 2s linear infinite;
  }

  &--primary-02 {
    color: $primary-02;
    animation: titleScrollLeft 2s linear infinite;
  }

  &--secondary-02 {
    color: $secondary-02;
    animation: titleScrollRight 2s linear infinite;;
  }
}

.how-works__image {
  display: block;
  position: absolute;
  width: 308px;
  height: 623px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  @media (max-width: 375px) {
    width: 228px;
    height: 461px;
  }
}
