.modal-auth {
  position: fixed;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 417px;
  min-height: 587px;
  background-color: $grayscale-07;
  color: $grayscale-00;
  border-radius: 20px;
  padding: 40px;

  @media (max-width: $mobile) {
    padding: 20px 16px;
    width: 335px;
  }
}

.modal-auth__cancel {
  position: absolute;
  width: 26px;
  height: 26px;
  right: 16px;
  top: 16px;
}

.modal-auth__group {
  border: 0;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;

  &--invalid {
    .modal-auth__input {
      border-color: $additional-00;
    }
  }

  &--phone {
    position: relative;

    &::before {
      position: absolute;
      content: '';
      background-image: url('../../images/icons/stack.svg#rf');
      width: 22px;
      height: 16px;
      top: 38px;
      left: 16px;
    }

    .modal-auth__input {
      padding-left: 42px;
    }
  }
}

.modal-auth__title {
  font-size: 14px;
  line-height: 22px;
  font-weight: 500;
  margin-bottom: 4px;
  display:block;

  &--required {
    display: flex;
    gap: 2px;

    &::after {
      content: '*';
      color: $additional-01;
    }
  }
}

.modal-auth__input {
  display: block;
  width: 100%;
  height: 40px;
  padding: 9px 16px;
  border: 1px solid $grayscale-10;
  border-radius: 14px;
  font-family: inherit;
  font-size: 14px;
  line-height: 22px;
  color: inherit;

  &::placeholder {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: $grayscale-03;
  }

  &:focus {
    outline: 1px solid $grayscale-03;
  }

  &:disabled {
    border-color: $grayscale-10;
  }
}

.modal-auth__text {
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  margin: 20px 0;
}

.modal-auth__link {
  color: $primary-01;
  text-decoration: underline;
}

.modal-auth__error-text {
  font-size: 12px;
  line-height: 20px;
  color: $additional-01;
}
