.page {
  height: 100%;
}

.page__body {
  margin: 0;
  background-color: $grayscale-01;
  color: $grayscale-07;
  font-family: 'Outfit', sans-serif;
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}
