.page {
  height: 100%;
}

.page__body {
  margin: 0;
  min-width: 375px;
  background-color: $grayscale-01;
  color: $grayscale-07;
  font-family: 'Outfit', sans-serif;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}
