.social-list {
  display: flex;
  gap: 40px;
}

.social-list__item {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: $primary-01;

  &:nth-child(even) {
    align-self: flex-end;
  }

  &:nth-child(1) {
    img {
      width: 39px;
      height: 72px;
      align-self: flex-end;
    }
  }
  &:nth-child(2) {
    img {
      height: 36px;
    }
  }
}

.social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 90px;

  img {
    width: 45px;
    height: 45px;
  }
}
