.social-list {
  display: flex;
  gap: 40px;


  @media (max-width: 500px) {
   gap: 28px;
  }
}

.social-list__item {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: $primary-01;

  @media (max-width: 500px) {
    width: 64px;
    height: 64px;
  }

  &:nth-child(even) {
   margin-top: auto;
  }
}

.social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 90px;

  @media (max-width: 500px) {
    width: 64px;
    height: 64px;
  }

  img {
    width: 45px;
    height: 45px;

    @media (max-width: 500px) {
      width: 32px;
      height: 32px;
    }
  }

  &--facebook {
    img {
      margin-top: 20px;
      width: 39px;
      height: 72px;

      @media (max-width: $mobile) {
        width: 27px;
        height: 51px;
      }
    }
  }
}
