.stats {
  background-color: $primary-01;
  padding: 40px 0;
  margin-bottom: 100px;
}

.stats__list {
  max-width: 750px;
  display: flex;
  justify-content: center;
  column-gap: 100px;
  margin: 0 auto;

  @media (max-width: 1000px) {
    column-gap: 50px;
  }

  @media (max-width: 800px) {
    column-gap: 30px;
  }

  @media (max-width: 665px) {
    display: block;
    padding: 0 16px;
    margin: 0 auto;
  }
}

.stats__list-item {
  @media (max-width: 665px) {
    display: flex;
    align-items: center;
    column-gap: 20px;
  }
}

.stats__percent {
  font-size: clamp(40px, 6vw, 64px);
  line-height: 1.06;
  font-weight: 700;
  margin-bottom: 16px;
}

.stats__description {
  font-size: clamp(20px, 2vw, 24px);
  line-height: 1.2;
  font-weight: 600;
  margin: 0;

  @media (max-width: $mobile) {
    br {
      display: none;
    }
  }
}
