.success {
  position: fixed;
  z-index: 10;
  width: 417px;
  min-height: 561px;
  padding: 40px 36px;
  background-color: $grayscale-07;
  color: $grayscale-02;
  text-align: center;
  border-radius: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media (max-width: 470px) {
    width: 335px;
    min-height: 477px;
    padding: 40px 20px;
  }
}

.success__image {
  margin-bottom: 20px;
}

.success__title {
  color: $primary-02;
  font-size: clamp(24px, 5vw, 36px);
  line-height: 1.2;
  font-weight: 600;
  margin: 0;
  margin-bottom: 20px;
}

.success__text {
  font-size: clamp(20px, 3vw, 24px);
  line-height: 1.2;
  margin: 0;
  margin-bottom: 20px;
}

.success__button {
  display: block;
  width: 100%;
  padding: 16px;
  background-color: $primary-02;
  color: $grayscale-07;
  font-size: 20px;
  line-height: 25px;
  font-weight: 600;
  border-radius: 16px;
}

.success__cancel {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 26px;
  height: 26px;
}
