.why-budss {
  padding-bottom: 100px;

  @media (max-width: $mobile) {
    padding-bottom: 80px;
  }
}

.why-budss__header {
  max-width: 664px;
  margin: 0 auto 70px;
  text-align: center;

  @media (max-width: $mobile) {
    margin-bottom: 40px;
  }
}

.why-budss__title {
  margin: 0;
  margin-bottom: 20px;
}

.why-budss__description {
  font-size: 36px;
  line-height: auto;
  font-weight: 600;
  margin: 0;

  @media (max-width: $mobile) {
    font-size: 24px;
    line-height: 1.2;
  }
}

.why-budss__span  {
  position: relative;

  &::before {
    position: absolute;
    display: inline-block;
    width: 100%;
    content: '';
    height: 34px;
    z-index: 0;
    top: 10px;
    left: -0.24px;
    background-color: $primary-02;
    border-radius: 30px;
    transform: rotate(-1.6deg);

    @media (max-width: $mobile) {
      top: 6px;
    }
  }

  span {
    position: relative;
    z-index: 1;
  }
}

.why-budss__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  margin: 0 auto;

  @media (max-width: $mobile) {
    display: block;
  }
}

.why-budss__item {
  @media (max-width: $mobile) {
    margin-bottom: 20px;
  }
}
