/* здесь используйте глобальные селекторы img, body, html и так далее*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button {
  padding: 0;
  border: 0;
  background-color: transparent;
  font-family: inherit;
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  height: auto;
}
